torch>=1.13.0
transformers>=4.30.0
soundfile>=0.12.1
librosa>=0.10.0
pyttsx3>=2.90
pandas>=1.5.0
pyarrow>=10.0.0
tqdm>=4.64.0
scikit-learn>=1.2.0
datasets>=2.14.0
fastapi>=0.95.0
uvicorn[standard]>=0.22.0
pydantic>=1.10.0
pydub>=0.25.1
python-multipart>=0.0.5
numpy>=1.23.0
edge_tts>=6.1.4
openai-whisper>=20230314
